/************************TAG SELECTOR************************/
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.6rem;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
    color: #780000;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #780000;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #c1121f;
}

a {
    color: #beb49f;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 15px;
    text-decoration: none;
}

a:hover {
    color: #1d1b16;
}

p {
    line-height: 2;
}

hr {
    border-style: dotted none none none;
    border-color: #669bbc;
    border-width: 8px;
    height: 0px;
    width: 4%;
    margin: 80px auto;
}

/************************CLASS SELECTOR************************/
.top-container {
    position: relative;
    padding-top: 20px;
    background-color: #fdf0d5;
}

.cloud {
    width: 150px;
    height: 50px;
}

.bottom {
    position: absolute;
    left: 600px;
    bottom: 200px;
}

.top {
    position: relative;
    left: 250px;
    top: 50px;
}

.profile-pic {
    width: 210px;
    height: 200px;
    border-radius: 50%;
}

.profile {
    width: 30%;
    margin: 80px auto 80px ;
}

.skill-row {
    width: 40%;
    margin: 100px auto 100px;
    text-align: left;
}

.coding {
    width: 10%;
    float: left;
    margin-right: 30px;
}

.art {
    width: 10%;
    float: right;
    margin-left: 30px;
}

.middle-container {
    margin: 100px 0;
}

.contact-me {
    width: 40%;
    margin: 70px auto 70px;
}

.btn {
    background: #669bbc;
    background-image: -webkit-linear-gradient(top, #669bbc, #003049);
    background-image: -moz-linear-gradient(top, #669bbc, #003049);
    background-image: -ms-linear-gradient(top, #669bbc, #003049);
    background-image: -o-linear-gradient(top, #669bbc, #003049);
    background-image: linear-gradient(to bottom, #669bbc, #003049);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 80px;
  }
  
  .btn:hover {
    background: #3699d6;
    background-image: -webkit-linear-gradient(top, #3699d6, #2977ab);
    background-image: -moz-linear-gradient(top, #3699d6, #2977ab);
    background-image: -ms-linear-gradient(top, #3699d6, #2977ab);
    background-image: -o-linear-gradient(top, #3699d6, #2977ab);
    background-image: linear-gradient(to bottom, #3699d6, #2977ab);
    text-decoration: none;
  }

  .bottom-container {
    margin: 0;
    background-color: #fdf0d5;
    padding: 50px 0 20px;
  }

  .contact-me-message {
    margin: 20px auto 60px;
  }

  .footer-copy {
    color: #030303;
    font-size: 0.75rem;
    padding: 15px 0;
  }