/************************TAG SELECTOR************************/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.6rem;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
    color: #780000;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #780000;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #c1121f;
}

a {
    color: #c1121f;
}

/************************CLASS SELECTOR************************/
.top-container {
    position: relative;
    padding-top: 20px;
    background-color: #fdf0d5;
}
.cloud {
    width: 150px;
    height: 50px;
}

.bottom {
    position: absolute;
    left: 600px;
    bottom: 200px;
}

.top {
    position: relative;
    left: 250px;
    top: 50px;
}

.profile-pic {
    width: 210px;
    height: 200px;
    border-radius: 50%;
}

.skill-row {
    width: 40%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
}

.coding {
    width: 10%;
    float: left;
    margin-right: 30px;
}

.art {
    width: 10%;
    float: right;
    margin-left: 30px;
}